{% extends 'main.html' %}
{% block sikorka %}

    <div class="container">
      <center><h1>Add birds to your wish list!</h1></center>
</div>

    <center><form method="post" enctype="multipart/form-data" class="form-check-inline" style="width: 40%">
    {% csrf_token %}
{{ form.as_p }}
<input type="submit" class="button3">
    </form></center>

        <div class="container">
      <center><h1>My wish list!</h1></center>
</div>

<section class="div-layout">

    {% for item in user.wishlist_set.all %}
<div class="card" style="width: 17rem; margin: 10px">
    <img src="{{ item.birds.get_main_image_url }}" class="card-img-top" alt="Bird"/>
    <div class="card-body">
    <h5 class="card-title">{{ item.birds.name }}</h5>
    <a href="/birds_app/bird/{{ item.birds.id }}" class="btn btn-outline-dark">Read more!</a>
    </div>

</div>
        {% endfor %}

 </section>

</form>
{% endblock %}